* {
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?18f0y6');
    src: url('fonts/icomoon.eot?18f0y6#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?18f0y6') format('truetype'), url('fonts/icomoon.woff?18f0y6') format('woff'), url('fonts/icomoon.svg?18f0y6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #000;
    background-color: #fff;
    border-color: #eee;
    transition: all .4s;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #FDFDFD;


    border-color: #ddd;
}

/* Since I create a dark theme, the default scroll bar is not adapted, I
tune it a bit for webkit browsers. More work could be needed for other
browsers. */

/*::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}*/
header {
    position: absolute;
    top: 0;
    left: 180px;
    right: 0;
    height: 60px;
}
header h1 {
    margin: 0;
    padding: 0 10px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 500;
}
aside {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    background-color: #464656;
}
aside a {
    position: relative;
    display: block;
    width: 160px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: all 0.4s;
}
aside a:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e88a";
}
aside a:hover {
    background-color: #565686;
    ;
}
footer {
    position: absolute;
    bottom: 0;
    left: 180px;
    right: 0;
    height: 60px;
}
footer p {
    text-align: right;
    line-height: 60px;
    font-size: 12px;
    margin: 0;
    padding: 0 20px 0 0px;
}
.main-container {
    position: absolute;
    top: 60px;
    left: 180px;
    right: 0;
    bottom: 60px;
    background-color: #ededed;
    overflow: auto;
    padding: 10px;
}
.search-box {
    position: relative;
    margin: 30px auto;
    width: 600px;
}
.search-box input {
    line-height: 30px;
    height: 30px;
    font-size: 18px;
    width: 400px;
    padding: 0;
    margin: 0;
    border: none;
    padding: 0 0 0 10px;
    border-bottom: solid thin rgba(202, 202, 202, 0.2);
}
input {
    transition: all 0.4s;
}
input:focus {
    border-bottom: solid thin rgba(202, 202, 202, 1);
    outline: none;
}

.search-box button {
  width: 180px;
}


.word-of-the-day {
    text-align: center;
    margin: 40px auto;
}
.word-of-the-day .word {
    font-size: 80px;
}
.word-of-the-day .pinyin {
    font-size: 16px;
}
.word-of-the-day .translation {
    margin: 10px 0;
    font-size: 20px;
}
.card{
  display: inline-block;
  width: 128px;
  max-width: 128px;
  height: 172px;
  max-height: 172px;
  overflow: auto;
  /*border: thin solid #cacaca;*/
  /*border-radius: 4px;*/
  /*padding: 4px;*/
  margin: 4px;
  background-color: #fff;
  cursor: pointer;
}
.card:hover{
      box-shadow: 0px 0px 3px 2px #999999;
}

.card .level{
  float: left;
  height: 38px;
  width: 6px;
  margin: 0 6px;
}

.card .level-1{ background-color: #41d728;}
.card .level-2{ background-color: #5FB928;}
.card .level-3{ background-color: #7D9B28;}
.card .level-4{ background-color: #9B7D28;}
.card .level-5{ background-color: #B95F28;}
.card .level-6{ background-color: #d74128;}

.card .word {
  font-size: 38px;
  text-align: center;
  height: 120px;
  line-height: 120px;
  margin: 4px;
  background-color: #f6f6f6;
  transition: background-color 0.4s;
}
.card:hover .word {
  background-color: #fcfcfc;
}

.card .word.large{
  font-size: 28px;
}
.card .pinyin {
  font-size: 12px;
  text-align: left;
  padding: 0 10px;
  font-style: italic;
}
.card .translation {
  font-size: 13px;
  text-align: left;
  padding: 0 10px;
  color: #eee;
  transition: color 0.4s;
}

.card:hover .translation {
  color: #464646;
}
